NODE_ENV=development
PORT=3000

# DB
DB_USER=postgres
DB_PASSWORD=your_db_password
DB_NAME=liftkaro
DB_HOST=your_db_host
DB_PORT=5432
SCHEMA=commerce

# Redis
REDIS_URL=redis://localhost:6379

# Config
SUGGESTED_MACHINES=https://appconfig.liftkaro.com/app-config/customer-config/machine-list-config.json
SERVICE_AVAILABLE_ZONES=https://appconfig.liftkaro.com/app-config/partner-config/service-available-zone.json

# OpenTelemetry
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4318/
OTEL_SERVICE_NAME=search-service
OTEL_METRICS_ENABLED=false
BY_PASS_LOG=true
